<div class="col-md-4 offset-md-4" style="padding-top: 80px">
  <h5 class="text-center">Sign in</h5>
  {{#each massages}}
    <div class="alert alert-danger" role="alert">
      {{this}}
    </div>
  {{/each}}
  <form action="signin" method="post">
    <div class="form-group">
      <label for="email" class="form-label">email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter ur email"
        name="email"
      />
    </div>

    <div class="form-group">
      <label for="password" class="form-label">password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter ur password"
        name="password"
      />
    </div>
    <input type="hidden" name="_csrf" value={{token}} />
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Sign in
      </button>

    </div>

  </form>
  <form action="signup" method="get">

    <div class="text-center">
      <p> OR </p>
      <button type="submit" class="btn btn-primary">
        Sign up
      </button>

    </div>

  </form>
</div>